*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --bkg: #f8f5f2;
    --darkgreen: #078080;
    --red: #f45d48;
    --black: #232323;
    --white:#f8f5f2;
  }
  
  body {
    background-color: var(--bkg);
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin: 1rem;
  }

  .clock--wrapper {
    display: grid;
    place-items: center;
    gap: 2rem;
    color: var(--white);
  }

  .ring--seconds {
    fill: var(--darkgreen);
    stroke: var(--black);
    stroke-width: 5;
    stroke-dasharray:.1 .9; stroke-dashoffset: .05;
  }
  
  .ring--hours {
    fill: transparent;
    stroke: var(--black);
    stroke-width: 10;
    stroke-dasharray:.05 .95; stroke-dashoffset: .025;
  }
  
  .ring--center {
    fill: var(--black);
    stroke: var(--black);
    stroke-width: 2.5;
  }
  
  .hand {
    stroke-linecap: round;
    stroke: var(--black);
  }
  
  .hand--hour {
    stroke-width: 5;
    stroke: var(--red)
  }
  
  .hand--minute {
    stroke-width: 5;
  }

  .prayertime {
    stroke: var(--darkgreen);
    fill:none;
    marker-start:url(#dotMarker);
    marker-end:url(#dotMarker);
  }

  .prayer-labels {
    fill:var(--darkgreen);
  }